@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: white;
  font-family: "Roboto";
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #1f1d1d;
  min-height: 100vh;
  padding-top: 75px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  margin-bottom: 25px;
}

.intro-text {
  font-size: 1.8em;
  color: white;
}



/* 1. Merkezi referans alarak dönen saat okları */


/*ek*/

.fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.fullscreen img,
.volvo-info img,
.aston-martin-info img {
  will-change: transform;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  position: absolute;
}

h1 {
  will-change: transform;
  margin: 0;
  font-size: 300vw;
  text-transform: uppercase;
}

.dark h1 {
  color: #fff;
}

.dark {
  background: #000;
}

.blendImage {
  transform: scale(2);
  mix-blend-mode: darken;
}

.bg {
  transform: scale(2);
}

.effect {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;

}


/*card-text-animationmobil-start*/

.impala-info {
  z-index: 3;
  display: flex;
  justify-content: start;
}

.car-info-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  background-color: #000;
  padding: 15px;
  margin-bottom: 500px;
}

.brand-text,
.model-text,
.year-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-header {
  font-size: 16px;
  color: rgb(252, 252, 252);
}

p {
  color: rgb(236, 241, 245);
  font-size: 12px;
}

/*text-animation*/
.new {
  color: rgb(106, 212, 216);
  font-size: 12px;
  align-self: center;
}

/*card-text-animation-mobil*/



@media (width >=768px) {

  .intro-text {
    font-size: 2.5em;
  }

  .car-info-card {
    width: 250px;
    height: 125px;
    border-radius: 15px;
    padding: 20px;
    margin-top: 150px;
    margin-right: 475px;

  }

  .brand-text,
  .model-text,
  .year-text {
    gap: 25px;
  }

  .card-header {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  /*text-animation*/
  .new {
    font-size: 16px;
    color: rgb(106, 212, 216);
  }


}

@media (width>=1280px) {

  .impala-info {
    z-index: 3;
    display: flex;
    justify-content: start;
  }

  .car-info-card {
    gap: 15px;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    background-color: #000;
    padding: 25px;
    margin-right: 900px;
  }

  .brand-text,
  .model-text,
  .year-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .card-header {
    color: rgb(252, 252, 252);
    font-size: 24px;

  }

  p {
    color: rgb(236, 241, 245);
    font-size: 20px;
  }

  /*text-animation*/
  .new {
    color: rgb(106, 212, 216);
    font-size: 20px;

  }

  /* .car-info-text {
    color: #f39;
  } */

}




@media (width> 1800px) {
  .volvo-info {
    margin-top: 953px;

  }

  .aston-martin-info {
    margin-top: 2220px;

  }

}